<ul style="margin: 20px;">
  <li><a href="/text">Text Playground</a></li>
  <li><a href="/image">Image Playground</a></li>
  <li><a href="https://platform.openai.com/playground?assistant=asst_AF8bNgvpOWp1sYV2B3BRhqMi&mode=assistant">Netflix Analytics Assistant </a></li>
</ul>
