<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>AI Playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/redactor.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

    <div class="logo">
        d1 group, e-business GmbH
    </div>

    <%= yield %>

    <footer>
        <small>
            Vertraulich, diese URL bitte nicht teilen! &copy; 2023 d1 group, e-business GmbH <% if session[:use_test_key] %>(TEST)<% end %>
        </small>
    </footer>

</body>

</html>
