<div style="display: flex;padding-bottom: 20px;">
  <div style="width: 200px;border: 1px solid #f0f0f0; border-radius: 3px;margin-top: 20px; margin-left: 20px; padding: 10px;">
    <strong>Beispiele</strong><br><br>
    <a href="javascript:SetContent('sample_1')">Schärfere Regeln</a><br>
    <a href="javascript:SetContent('sample_2')">Bahnverkehr rollt</a><br>
    <a href="javascript:SetContent('sample_3')">Produkt Bluse</a><br>
    <a href="javascript:SetContent('sample_4')">Produkt Dübel</a>
    <!-- Add more links here -->
  </div>
  <div style="flex: 1;">
    <!-- Your editor code here -->
    <div id="editor" style="margin:20px;">
      <textarea id="entry">
      </textarea>
    </div>
  </div>
</div>



<div id="sample_1" style="display: none">
<p><strong>Textbeispiel: Regeln nach den GDL-Streiks</strong></p>
<p>Schärfere Regeln nach den GDL-Streiks?</p>
<p>Eine Lösung des Tarifstreits zwischen Bahn und GDL ist nicht in Sicht. Aber es deutet sich etwas anderes an: Wenn dieser Tarifstreit beendet ist, könnte das Streikrecht in Deutschland verschärft werden.</p>
<p>Das Urteile des Frankfurter Arbeitsgerichts und des Hessischen Landesarbeitsgericht bedeuten zunächst einen Sieg für GDL-Chef Claus Weselsky. Die Bahn hatte versucht, den aktuell laufenden Streik im letzten Augenblick gerichtlich stoppen zu lassen. Sie scheiterte damit aber vor beiden Instanzen.</p>
<p>Langfristig könnte Weselsky, der bald in den Ruhestand geht, aber als derjenige in Erinnerung bleiben, der Auslöser für eine Verschärfung des Streikrechts war. Denn angesichts der unnachgiebigen Haltung des GDL-Chefs und der großen Auswirkungen von Streiks bei einem Unternehmen der kritischen Infrastruktur wie der Bahn, mehren sich die Rufe nach neuen gesetzlichen Regeln für Streiks in solchen Betrieben.</p>
<p>Auch Verkehrsminister Volker Wissing machte klar, dass sich die Politik dieses Themas vermutlich demnächst annehmen wird. Es sei klar, dass sich die Bundesregierung in einen laufenden Tarifkonflikt nicht so einmischen könne, dass sie Gesetzesänderungen androhe, sagte der FDP-Politiker im ARD-Morgenmagazin. "Aber klar ist auch, dass wir uns das ganz genau anschauen werden. Wenn dieser Tarifkonflikt beigelegt ist, muss geprüft werden, ob wir eine Änderung brauchen oder nicht."</p>
<p>Pro Bahn: "Für die krittische Infrastruktuhr neue Reglen schaffen."</p>
</div>

<div id="sample_2" style="display: none">
  <p><strong>Textbeispiel: Bahnverkehr rollt</strong></p>
  <p>Bahnverkehr rollt nach GDL-Streik wieder an</p>
  <p>Seit dem Morgen ist der GDL-Streik vorbei. Der Zugverkehr läuft wieder an, zu Betriebsbeginn sollen wieder die meisten Züge fahren. Die Bahn rechnet allerdings mit vollen Zügen.</p>
  <p>Der Streik der Lokführergewerkschaft GDL ist beendet. Seit 2.00 Uhr am Morgen rollt der Fern- und Regionalverkehr auf der Schiene in Deutschland allmählich wieder an, wie die Bahn mitteilte. Bis zum Betriebsbeginn soll das volle Fahrplanangebot wieder weitgehend hergestellt sein. Im Güterverkehr hatte der Ausstand früher begonnen und endete bereits am Dienstagabend. Fahrgäste müssen sich am Mittwoch auf volle Züge einstellen, weil zu erwarten ist, dass viele ihre Reise an diesem Tag nachholen werden.</p>
</div>

<div id="sample_3" style="display: none">
  <p><strong>Produktbeispiel: Bluse</strong></p>
  <ul>
    <li>Sommer</li>
    <li>Leinenbluse</li>
    <li>leicht</li>
    <li>luftig</li>
    <li>Büro</li>
    <li>Freizeit</li>
    <li>superlässig</li>
    <li>feminin</li>
    <li>moderner Stehkragen</li>
    <li>klassische Knopfleiste</li>
    <li>Schulterpasse</li>
    <li>lange Blusenärmel</li>
    <li>breiter Manschettenabschluss</li>
    <li>tiefe Rückenfalte</li>
    <li>geschwungene Saumlinie</li>
    <li>hochwertige Naturfaser</li>
    <li>kühlende Eigenschaften</li>
  </ul>
</div>

<div id="sample_4" style="display: none">
  <p><strong>Produktbeispiel: Dübel</strong></p>
  <p>
    Federklappdübel Typ W-FK mit Scheibe und MS-Rändelmutter, Stahl verzinkt.
    Für untergeordnete Befestigungen in Hohlwänden, Hohldecken oder Plattenbaustoffen aller Art
  </p>

  <ul>
    <li>Typbezeichnung: W-FK</li>
    <li>Werkstoff: Stahl</li>
    <li>Oberfläche: Verzinkt</li>
    <li>Ausführung: Mit Scheibe und MS-Rändelmutter</li>
    <li>Gewindeart: Metrisches Gewinde</li>
  </ul>
</div>


<!-- js -->
<script src="/redactor.min.js"></script>
<script src="/ai.min.js"></script>

<!-- call -->
<script>
Redactor('#entry', {
    theme: 'light',
    buttons: {
        toolbar: ['add', 'bold', 'list', 'moreinline', 'ai-tools']
    },

    plugins: ['ai'],
    ai: {
        items: {
            set: true,
            improve: { title: 'Text verbessern', command: 'ai.set', params: { prompt: 'improve.txt' } },
            simplify: { title: 'Text vereinfachen', command: 'ai.set', params: { prompt: 'simplify.txt' } },
            fix: { title: 'Text Korrigieren', command: 'ai.set', params: { prompt: 'fix.txt' } },
            summary: { title: 'Text zusammenfassen', command: 'ai.set', params: { prompt: 'summary.txt' } },
            translate_en: { title: 'Text auf Englisch übersetzen', command: 'ai.set', params: { prompt: 'translate_en.txt' } },
            translate_it: { title: 'Text auf Italienisch übersetzen', command: 'ai.set', params: { prompt: 'translate_it.txt' } },
            translate_ko: { title: 'Text auf Koreanisch übersetzen', command: 'ai.set', params: { prompt: 'translate_ko.txt' } },
            tone_pro: { title: 'Professionell formulieren', command: 'ai.set', params: { prompt: 'tone_pro.txt' } },
            tone_exciting: { title: 'Freudig formulieren', command: 'ai.set', params: { prompt: 'tone_exciting.txt' } },
            instagram: { title: 'Instagram Post erstellen', command: 'ai.set', params: { prompt: 'instagram.txt' } },
            product_description: { title: 'Produktbeschreibung erstellen', command: 'ai.set', params: { prompt: 'product_description.txt' } },
            forkids: { title: 'Text für Kinder formulieren', command: 'ai.set', params: { prompt: 'forkids.txt' } },
            funny: { title: 'Mach dich Lustig', command: 'ai.set', params: { prompt: 'funny.txt' } },
        },
        text: {
            url: '/process-stream',
            endpoint: 'https://api.openai.com/v1/chat/completions',
            model: 'gpt-3.5-turbo',
            stream: true
        }
    }
});
</script>

<script>
function SetContent(id) {
  content = document.getElementById(id).innerHTML;

  // call editor
  let app = Redactor('#entry');

  // set content from outside scripts
  app.editor.setContent({ html: content });
}
</script>
